/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
	border: none;
	border-radius: 0;
	font-family: Nerd Font Hack;
	font-size: 12px;
	min-height: 18px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.5);
        border-bottom: 2px solid #374f2f;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces, #window {
        font-size: 14px;
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 8px;
	border-radius: 26px;
	background: #282a36;
	transition: none;
}

#window {
	padding-left: 12px;
	padding-right: 12px;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #9adcfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#tray > * {
	border-radius: 26px;
}

#mode, #network, #bluetooth, #cpu, #memory, #pulseaudio, #clock {
	margin-top: 8px;
	margin-left: 2px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #3d3d3d;
}

#mode {
        background: #cdcdcd;
}

#network {
	background: #bd93f9;
}

#bluetooth { 
        background: #5af78e;
}

#pulseaudio {
	background: #9aedfe;
}

#temperature {
	background: #5af78e;
}

#cpu {
	background: #f1fa8c;
}

#memory {
	background: #ff6e67;
}

#clock {
        color: #f8f8f2;
	background: #282a36;
}	
